.hero-container{
  display: flex;
  position: relative;
  justify-content: center;
  height: 800px;
}

.hero-warpper {
  background: url('/public/images/FCU_GYM.png') center center/cover no-repeat; 
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.hero-container:before{
  content: '';
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
  background:linear-gradient(to top, #1e2225, transparent);
  z-index: 999;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -100px;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.hero-btns {
  position: relative;
  top: 350px;
  z-index: 1000;
}

.hero-btns .btn:hover{
  background-color: rgb(231, 232, 255);
  color:rgb(38, 41, 83);
}



.hero-btns .btn {
  margin: 6px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff; 
  font-size: 30px;
  width: 200%;
  transform: translate(-25% );
  
}



.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
