@media screen and (max-width: 992px) {
  .navForRWD {
    flex-direction: column;
    width: 100%;
  }
}

body{
  margin: 0;
  height: 100%;
}

.MyTicket_img1{
  width: 100%;
}

.sbtn{
  background-color: rgb(67, 180, 172);
  border-radius: 5px;
  height: 0.5em;
  color: aliceblue;
  
}

.homeBigImg{
  position: relative;
  height: 75vh;
  object-fit: cover;
  overflow: hidden;
  box-shadow: inset 5em 1em gold;
}
.mainBG{
  background-color: rgb(19, 20, 31);
  /* height: 100vh; */

}

.liBGBar{
  position: relative;
  background-color: rgb(19, 20, 31);
  top: -2em;
  height: 10vh;
  background: linear-gradient(rgb(19, 20, 31, 0), rgb(19, 20, 31));
}
hr{
background-color: #fff;
}

.fill-window {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  }